[submodule "iced-client"]
	path = iced-client
	url = ./iced-client
[submodule "client-lib"]
	path = client-lib
	url = ./client-lib
[submodule "procmacro-lib"]
	path = procmacro-lib
	url = ./procmacro-lib/
[submodule "rust-api-kit"]
	path = rust-api-kit
	url = ./rust-api-kit/
[submodule "server"]
	path = server
	url = ./server
[submodule "shared-lib"]
	path = shared-lib
	url = ./shared-lib/
[submodule "dioxus-client"]
	path = dioxus-client
	url = ./dioxus-client
